<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <!-- Agregar enlace al CSS de Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        /* Estilos para el fondo oscuro */
        body {
            background-color: #333;
            color: white;
        }
        .card {
            background-color: #444;
            color: white;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Dashboard</h1>
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Score</h5>
                        <p class="card-text" style="color: {% if score >= 100 %}red{% else %}white{% endif %}">
                            {{ score|floatformat:2 }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Agregar enlace al JS de Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
