<!DOCTYPE html>
<html>
<head>
    <title>Bienvenido al Procesamiento del Lenguaje Natural</title>
    <!-- Agregar enlace a Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
            background-color: #343a40; /* Color de fondo oscuro */
            color: #fff; /* Color de texto blanco */
        }
        h1 {
            text-align: center;
            margin-bottom: 20px;
        }
        p {
            text-align: justify;
        }
    </style>
</head>
<body>
    <!-- Agregar clase "container" de Bootstrap para alinear el contenido -->
    <div class="container">
        <h1 class="my-4">Bienvenido al Procesamiento del Lenguaje Natural (PLN)</h1>
        <p>
            El Procesamiento del Lenguaje Natural (PLN) es un campo de la inteligencia artificial y la lingüística que se enfoca en la interacción entre los seres humanos y las máquinas a través del lenguaje natural. Su objetivo es permitir que las computadoras comprendan, interpreten y generen lenguaje humano de manera efectiva.
        </p>
        <p>
            El PLN abarca una amplia gama de aplicaciones, desde los asistentes virtuales que responden a nuestras preguntas hasta el análisis de sentimientos en las redes sociales y la traducción automática de idiomas. A través del PLN, las computadoras pueden analizar grandes cantidades de texto, extraer información relevante, identificar patrones y tomar decisiones basadas en el contenido del lenguaje humano.
        </p>
        <p>
            Algunas de las técnicas y herramientas comunes utilizadas en el PLN incluyen el procesamiento de lenguaje estadístico, el aprendizaje automático, la tokenización, el etiquetado de partes del discurso, el análisis de sentimientos, la extracción de entidades y la generación de lenguaje natural.
        </p>
        <p>
            En este sitio web, exploraremos conceptos y ejemplos relacionados con el Procesamiento del Lenguaje Natural. ¡Esperamos que encuentres esta información interesante y útil!
        </p>
        <p>
            Además, las Redes Neuronales Recurrentes de Hopfield son un tipo de red neuronal que se utilizan para el procesamiento de información y almacenamiento de patrones. Estas redes pueden utilizarse en diversas aplicaciones, incluyendo la generación de energía y la resolución de problemas combinatorios. Por otro lado, el modelo de Ising es un modelo matemático que se utiliza en física estadística para describir el comportamiento de espines en un material ferromagnético. En el contexto del Procesamiento del Lenguaje Natural, este modelo puede utilizarse para optimizar la generación de similitud textual al restar el producto de la temperatura y la entropía a la energía, mejorando así los resultados obtenidos.
        </p>
        <p>
            ¡Gracias por visitarnos y disfruta aprendiendo sobre el emocionante mundo del PLN!
        </p>
        <!-- Agregar el botón para dirigirse a 'similitud/' -->
        <a href="/similitud/" class="btn btn-primary">Probar Red Neuronal Recurrente de Energía Reforzada</a>
    </div>

    <!-- Agregar enlace a Bootstrap JS y jQuery para habilitar las funcionalidades de Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
