<!DOCTYPE html>
<html>
<head>
    <title>Iniciar Sesión</title>
    <!-- Agregar la siguiente línea para enlazar el CSS de Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>Iniciar Sesión</h1>
        <a href="{% provider_login_url 'google' %}" class="btn btn-danger">Iniciar Sesión con Google</a>
    </div>

    <!-- Agregar la siguiente línea para enlazar el JS de Bootstrap -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
